.Content-main-container{
    width: 1920px;
    height: 273px;
    color: #292E34;
}
.content-box1{
    margin-left: 410px;
    margin-right: 410px;
    
}
.content-box1-header{
    margin-left: 380px;
    margin-top: 140px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    align-content: center;
}

.content-box1-content{
    display: grid;
    flex-direction: column;
}
.content-box1-content-text{
    color: #292E34;
    font-family: inter;
    font-size: 2rem;
    font-weight: 600;

}
.content-box1-content-background{
    margin-top: 5px;
    width: 469px;
    height: 14px;
    background-color:#CBDEF2 ;
}

.content-box1-content-text2{
    color: rgba(41, 46, 52,0.5);
    font-size: 1rem;
    font-weight: 500;
    line-height: 26px;
    margin-top: 20px;
}
.content-box1-body{
    display: flex;
    justify-content: space-evenly;

}
.content-box-body-list{
    display: flex;
    justify-content: space-evenly;
    margin-top: 101px;
    font-family: inter;
    font-size: 0.8rem;
    color: #292E34;
    font-family: inter;
    font-size: 0.8rem;
    color: #292E34;
    font-weight: 700;

}
.content-box-body-list ul{
    list-style: none;
}
.content-box-body-list ul li{
    margin: 12px;
    
}
.content-box1-body-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.content-box1-body-link{
    border: none;
    border-radius: 50px;
    background-color: #CBDEF2;
    color: 292E34;
    font-size: 0.9rem;
    font-weight: 700;
    text-align: center;
    height: 37px;
    width: 230px;
    padding-top: 7px;
    margin-top: 80px;
    margin-bottom: -40px;
}

.content-box2{
    display: flex;
    flex-direction: column;
    margin-left: 252px;
    /*  */
    
    /*  */
   

}
.content-box2 img{
margin-left: 65px;
margin-top: px;

}

.content-box2-content{
    display: flex;
    justify-content: space-between;
    margin-left: 410px;
    margin-right: 410px;
    padding-top: 105px;
    align-items: center;
    margin-top: 5px !important;
   

}
.content-box2-content-text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content-box2-content-text-box1-text{
 font-size: 1.8rem;
 font-weight: 700;
 font-family: inter;
 line-height: 40px;

 position: relative;
 z-index: 1;

}
.content-box2-content-text-box1-text .ddd{

    margin-left: 20px;
}
.content-box2-content-text-box1-underline{
    position: absolute;
    width: 334px;
    height: 15px;
    background-color:#C4E3CC ;
    /*  */
    margin-top: 45px;
    /*  */
    top: 59px;
    z-index: -1;
   
}

.content-box2-content-text-box2{
     margin-top: 50px;
     font-size: 1rem;
     font-weight: 500;
     line-height: 30px;
     color: rgba(41, 46, 52,0.5);
}